<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>546305136105-dollga35o4ljealsooml5l91im6sar5b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.546305136105-dollga35o4ljealsooml5l91im6sar5b</string>
	<key>API_KEY</key>
	<string>AIzaSyC3qIb5G1RQTpLASk6xPZTIuPQr2oRKCWo</string>
	<key>GCM_SENDER_ID</key>
	<string>546305136105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.SwapApp</string>
	<key>PROJECT_ID</key>
	<string>swapapp-dc0f3</string>
	<key>STORAGE_BUCKET</key>
	<string>swapapp-dc0f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:546305136105:ios:8857e6cddc4ca8d3a6e778</string>
</dict>
</plist>